// BEM 命名
// Block(區塊), Element(元素), Modifier(修飾符)

.list {
    padding: 24px;
}
.list__title {
    font-weight: 500;
    font-size: $font-m * 1.15;
}
.list__img {
    border: 1px solid black;
    padding: 8px;
    background: pink;
}
.list__img--changeBg {
    background: black;
}



header {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100vw;
    background: grey;
    @include mobile {
        height: 50px;
    }
}

footer {
    height: 50px;
    width: 100vw;
    background: grey;
    @include mobile {
        height: 70px;
    }
}

.wrapper {
    padding-top: 70px;
    margin: 24px;
    @include mobile {
        padding: 50px;
    } 
}

.layout-title {
    font-size: $font-m * 2;
    font-weight: 600;
}