// Sass/CSS 設計模式： 收納術
// Smacss
// 1. Base: 全站設定(打好地基)
// 2. Layout: 佈局管理
// 3. 模組化： 增加子模組做擴充行為
// 4. HTML標籤優化

// 方便 HTML 語易化調整，CSS 盡量不指定 HTML tag

.layout-section {
    padding: 24px;
}
.layout-title {
    font-size: $font-m * 2;
    font-weight: 600;
}
.layout-list {
    list-style: circle;
}


header {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100vw;
    background: grey;
    @include mobile {
        height: 50px;
    }
}

footer {
    height: 50px;
    width: 100vw;
    background: grey;
    @include mobile {
        height: 70px;
    }
}

.wrapper {
    padding-top: 70px;
    margin: 24px;
    @include mobile {
        padding: 50px;
    } 
}