body {
    font-family: $font-family;
    font-size: $font-m;
}

.box {
    width: 100px;
    height: 100px;
    background: $primary-color;
}

.title {
    font-family: $font-family-title;
    font-size: $font-m * 1.5;
    color: $accent-color;
}