// Mixin
// 能幫你記住 CSS 技巧，讓你不用再因回想原理而中斷思緒
@mixin primarySize {
    color: $primary-color;
    font-size: $font-m; 
}
@mixin hide-text {
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
}

// 搭配參數，讓 Mixin 更靈活
@mixin color-color($color) {
    color: $color;
    border: 5px solid $color;
    text-decoration: $color;
}
